## Django Variables
ENVIRONMENT="development"
SECRET_KEY="g8i3jq*i&yvrmzp9abwaslhk%zy8)#cxq^-dsvajz-ozdn790_"

## Email Configs
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USER=""
EMAIL_PASS=""

## Database Config
DB_NAME="microfarm"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="localhost"
DB_PORT="5432"

## Simple JWT Config
ACCESS_TOKEN_LIFETIME=5
REFRESH_TOKEN_LIFETIME=1
ROTATE_REFRESH_TOKENS=True
BLACKLIST_AFTER_ROTATION=True
UPDATE_LAST_LOGIN=False
ALGORITHM="HS256"
VERIFYING_KEY=None
AUDIENCE=None
ISSUER=None
JWK_URL=None
SLIDING_TOKEN_LIFETIME=5
SLIDING_TOKEN_REFRESH_LIFETIME=1

## Accounts Config
ACCOUNT_EMAIL_REQUIRED=True
# Valid Options: mandatory, optional, none
ACCOUNT_EMAIL_VERIFICATION="none"
# Valid Options: email, username, username_email
ACCOUNT_AUTHENTICATION_METHOD="email"

## Weather and Forecast API
WEATHER_API_KEY="asdf24df4bdcfaaa2d0f0dfdc61aasdf"
FORECAST_API_KEY="asdf24df4bdcfaaa2d0f0dfdc61aasdf"

## Timezone API
TIMEZONE_API_KEY="ASDFUDP4ASDF"

