## Django Variables
ENVIRONMENT="development"
DEV_SECRET_KEY="6#evz&xg=v%8ckj@6vi2_l#bu(1$#*!v16@sx&ds&jz-lgu45_"
PROD_SECRET_KEY="g8i3jq*i&yvrmzp9abwaslhk%zy8)#cxq^-dsvajz-ozdn790_"

## Email Configs
EMAIL_USER=""
EMAIL_PASS=""

## Database Config
DB_NAME="microfarm"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="localhost"
DB_PORT="5432"
